<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.work4" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContactsActivity"
            android:label="@string/title_activity_add_contacts" >
        </activity>
        <activity
            android:name=".ContactsMessageActivity"
            android:label="@string/title_activity_contacts_message" >
        </activity>
        <activity
            android:name=".MyContactsActivity"
            android:label="@string/title_activity_my_contacts" >
        </activity>
        <activity
            android:name=".UpdataContactsActivity"
            android:label="@string/title_activity_updata_contacts" >
        </activity>
        <activity
            android:name=".UpdateContactsActivity"
            android:label="@string/title_activity_update_contacts" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>


</manifest>
